# Ignorar base de datos SQLite
/db/securedesk.sqlite

# Ignorar carpeta de almacenamiento
/storage/

# Ignorar carpetas
/vendor/

# Ignorar archivo de debug temporal
/app/routes/DebugRoutes.php

# Logs
*.log

# Config local
.env