.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.home-card {
  max-width: 70%;
  background-color: #1e202b;
  border-radius: 12px;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.home-card .logo img {
  width: 250px;
  margin-bottom: 1rem;
}

.home-title {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.home-subtitle {
  font-size: 1.8rem;
  color: #a0a3b1;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
}

.home-description {
  text-align: justify;
  color: #d1d5db;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 auto 2rem auto;
  width: 70%;
}

.home-description p {
  margin-bottom: 1rem;
}
