* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2b2b;
  color: #f5f5f0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
}

.button {
  color: #f5f5f0;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  background-color: #3b3b3b;
  border: 1px solid #5b5b5b;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4b4b4b;
}

/* Estilos para el encabezado */
header {
  background-color: #1f1f1f;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header h1 {
  font-size: 24px;
  color: #f5f5f0;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container img {
  height: 60px;
  margin-right: 10px;
}

/* Estilos para la sección principal */
section {
  display: flex;
  flex-direction: row;
}

/* Estilos para la barra de navegación */
nav {
  background-color: #1f1f1f;
  padding: 10px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
}

/* Estilos para el contenido dinámico */
.dinamic-container {
  padding: 20px;
}
